@font-face {
    font-family: 'Square Peg';
    src: url('SquarePeg-Regular.woff2') format('woff2'),
        url('SquarePeg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

